/* Test CSS File */
body {
    background-color: #f0f8ff;
}

h1 {
    color: red !important;
    text-align: center !important;
    font-size: 50px !important;
    text-shadow: 2px 2px 5px black !important;
} 